/* BACKGROUND */
body {
    position: relative;
    background-image: url(images/background13.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto 5196px;
    margin: 0 auto 0 auto;
    max-width: 1000px;
}
/* TEXT CONTAINER */
.text-container {
    margin: 150px auto 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 490px;
}
/* ARTICLE CONTAINER */
.article-container {
    margin: 50px auto 0 auto;
    max-width: 800px;
}
.article {
    max-width: 600px;
    color: white;
    margin-bottom: 50px;
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    letter-spacing: 0.06em;
}
.article > h1 {
    font-weight: bold;
    font-size: 16px;
    text-decoration:underline;
    letter-spacing: 0.06em;
}
.article a {
    color: white;
}
/* DISCOGRAPHY CONTAINER */
.disc-container {
    margin: 100px auto 100px 0;
    display: grid;
    position: relative;
    justify-content: left;
    grid-template-columns: 280px 610px;
}
.disc-container h1 {
    margin-left: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.06em;
}
.disc-container p {
    margin-left: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
    font-weight:400;
    font-size: 16px;
    text-align: justify;
    line-height: 1.2em;
    letter-spacing: 0.06em;
}
/* INFO CONTAINER */
.info-container {
    margin: 100px auto 100px 0;
    display: grid;
    position: relative;
    justify-content: left;
    grid-template-columns: 280px 610px;
}
/* SOCIAL MEDIAS */
.linktree {
    position: relative;
    z-index: 2;
    width: 27px;
    height: auto;
    float: right;
    top: 200px;
    right: 23px;
    list-style: none;
}
.linktree img {
    margin-top: 20px;
    height: 22.5px;
    width: 28.5px;
}
/* VIDEO GALLERY */
.video-container {
    margin: 150px 0 100px 0;
    position:relative;
    width: 680px;
}
.video {
    margin: auto;
    width: 600px; /* adjusts actual size */
    height: 337.5px; /* ^^ */
  }
  /* IMAGE GALLERY */
  .image-container {
    margin: 125px auto 0 auto;
    position:relative;
    width: auto;
  }
  .image {
    margin: auto;
    max-width: 100%;
    max-height: 550px;
  }
  /* BUTTONS */
#button-left {
    display: block;
    position:absolute;
    left: 0;
    top: 45%;
    width: 30px;
    height: 50px;
    border: 0;
    font-size: 50px;
    background: none;
    color: white;
}
#button-right {
    display: block;
    position: absolute;
    right: 0;
    top: 45%;
    width: 30px;
    height: 50px;
    border: 0;
    font-size: 50px;
    background: none;
    color: white;
}
.listen-button {
    margin: 25px 0 0 10px;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    border: 2px solid #FFFFFF;
    background: none;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight:400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
}
#hamburger {visibility: hidden; font-size:0; padding-top:0;}
/* FOOTER */
span {
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight:400;
    font-size: 16px;
    letter-spacing: 0.06em;
    float: right;
    text-align: right;
}
span a {
    text-decoration: none;
    color: white;
}
span a:hover {
    color: rgb(255, 110, 110);
}

/* GRAPHICS */
#suit {
    position: absolute;
    width: 350px;
    left: 70px;
    top: 302px;
    mix-blend-mode: darken;
}
.cover {
    width: 100%;
    height: auto;
}
#castle {
    opacity: .8;
    position: absolute;
    width: 400px;
    height: auto;
    float: right;
    right: 1px;
    top: -10px;
}
#myNav {display:none;}

@media screen and (max-width: 945px) {
    .info-container p {
        width: 500px;
    }
}
@media screen and (max-width: 825px) {
    .info-container p {
        width: 400px;
    }
}
@media screen and (max-width: 700px) {
    #castle {display:none;}
    #myNav {display:block;}
    #button-left {
        height: 470px;
        width: 150px;
        top: 0;
        left: -50px;
        opacity: 0;
    }
    #button-right {
        height: 470px;
        width: 150px;
        top: 0;
        right: -50px;
        opacity: 0;
    }
    .info-container {
        display:block;
    }
    .disc-container {
        margin: 100px auto 100px auto;
        display: block;
        position: relative;
        justify-content: left;
    }
    .disc-container h1 {
        margin: 10px auto 0 auto;
        color: rgb(255, 255, 255);
        font-family: 'Mukta', sans-serif;
        text-align: center;
    }
    .disc-container p {
        display: none;
    }
    .article-container {
        margin: 50px auto 0 auto;
        max-width: 800px;
    }
    .article {
        margin: 0 10px 50px 10px;
        font-family: 'Mukta', sans-serif;
        font-weight:500;
        letter-spacing: 0.06em;
    }
    .article > h1 {
        font-weight: bold;
        text-decoration:underline;
        letter-spacing: 0.06em;
    }
    .image-container {
        margin: 50px;
    }
    .cover {
        padding-top: 0;
        display: block;
        width: 50%;
        margin: -50px auto 0 auto;
    }
    .listen-button {
        display: block;
        margin: 25px auto 0 auto;
    }
    #infoimage1 {
        display: block;
        margin: 100px auto 0 auto;
        width: 60%;
    }
    #infoimage2 {
        display: none;
        margin: 100px auto 0 auto;
        width: 60%;
    }
    .linktree {
        display: none;
    }
    .overlay {visibility: visible;}
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255,255,255, 0.9);
        overflow-y: hidden;
    }
    .overlay-content {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 150px;
    }
    .overlay a {
        text-decoration: none;
        font-size: 16px;
        font-family: 'Mukta', sans-serif;
        letter-spacing: 0.06em;
        padding-top: 3%;
        color: black;
        display: block;
    }
    .overlay a:hover, .overlay a:focus {
        color: rgb(95, 0, 95);
    }
    
    .overlay .closebtn {
        float: right;
        margin: 0 8.8% 0 10px;
        font-size: 30px;
    }
    span {
        letter-spacing: 0.03em;
        font-size: 16px;
    }
}
    @media screen and (max-width: 390px) {
        span {
            letter-spacing: 0;
        }
    }
