/* NAVIGATION */
.nav {
  list-style-type: none;
  margin: 25px auto 0 -50px;
  font-family: 'Signika Negative', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.06em;
}
#logo {
  margin: 0 0 10px 7px;
  height: auto;
  width: 310px;
  padding: 0;
}
#logo a {
  text-decoration-line: none;
}
.nav li a {
  padding: 11px;
  color: white;
}
.nav li {
  display: inline;
}
#hamburger {visibility: hidden;}
#cmobile {display: none;}
@media screen and (max-width: 700px) {
  .nav li {display: none;}
  #logo {
    position: absolute;
    margin: 0 0 10px 8%;
    height: auto;
    width: 175px;
  }
  #hamburger {
    display:inline;
    float: right;
    margin: -35px 7.5% 0 10px;
    visibility: visible;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

}
@media screen and (max-width: 390px) {
  #logo {
    font-size: 40px;
  }
}