/* Nav Bar */
.nav {
  display: block;
  list-style-type: none;
  margin: 25px auto 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
}
#logo {
  float: left;
  font-family: 'Kalam', cursive;
  font-size: 75px;
  font-weight: bold;
  padding: 0;
}
#logo a {
  text-decoration-line: none;
}
.nav > li {
  float:inline-start;
}

li a {
  padding: 13px;
  color: white;
}