/* TEXTBOX */
.text-box {
    color: white;
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
    margin: 50px auto 0 auto;
    width: 100%;
    letter-spacing: 0.06em;

}
.text-box > h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.06em;

}
.text-box > p {
    font-weight:400;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.06em;

}
@media screen and (max-width: 700px) {
    .text-box p {
        margin: -220px auto 120px auto;
        width: 80%;
        letter-spacing: 0.03em;
    }
}
@media screen and (max-width: 390px) {
    .text-box p {
        font-size: 13px;
        letter-spacing: 0;
        margin: -190px auto 120px auto;
    }
  }